# dependencies
node_modules/

# testing
coverage/

# next.js build output
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files (YANG INI PALING PENTING BUAT KEAMANAN!)
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts